<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jammer</title>

    <!-- google material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <nav>
      <div>
        <button class='logo'>jammer</button>
        <button>ALL</button>
        <button disabled>Stories</button>
        <button disabled>Contributions</button>
        <button disabled>Favourites</button>
        <button>+ New Story</button>
        <button disabled>Search</button>
      </div>
      <div>
        <button>Login</button>
        <button disabled>Register</button>
      </div>
    </nav>

    <main class='feed-container'>

    <!-- CONTEXT bar for feeds -->
      <header class='context-bar'>
        <div>context</div>
        <div>context</div>
      </header>

    <!-- LEFT FEED -->
      <section class='stories-container-left'>

        <article class='story'>
          <header>
            <a href=#><h1 class='story-title'>story_name</h1></a>
            <a class='story-owner' href=#>@owner_username</a>
          </header>

          <section class='snippets-container'>

            <section class='snippet'>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis architecto minima nostrum corporis vitae asperiores, qui sed sunt molestiae totam et animi, rerum provident cupiditate voluptatum omnis neque reiciendis delectus.</p>
            </section>

            <section class='snippet'>
              <header class='meta-data'>
                <a class='snippet_contributor' href=#>@snippet_contributor</a>
                <div class='snippet-upvotes'>(45)</div>
              </header>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, dolorum soluta, optio est temporibus vel labore repellendus blanditiis similique perspiciatis placeat quas vero veritatis illo saepe esse quam nesciunt. Natus?</p>
            </section>

            <section class='snippet'>
              <header class='meta-data'>
                <a class='snippet_contributor' href=#>@snippet_contributor</a>
                <div class='snippet-upvotes'>(45)</div>
              </header>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, dolorum soluta, optio est temporibus vel labore repellendus blanditiis similique perspiciatis placeat quas vero veritatis illo saepe esse quam nesciunt. Natus?</p>
            </section>

            <section class='snippet'>
              <header class='meta-data'>
                <a class='snippet_contributor' href=#>@snippet_contributor</a>
                <div class='snippet-upvotes'>(45)</div>
              </header>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, dolorum soluta, optio est temporibus vel labore repellendus blanditiis similique perspiciatis placeat quas vero veritatis illo saepe esse quam nesciunt. Natus?</p>
            </section>

          </section>

          <footer>
            <div class='tags'>tags tags tags</div>
            <div class='state'>
              <div>date_created</div>
              <div>last_updated</div>
              <div><a href=#>contribute</a></div>
            </div>
          </footer>

        </article>

      </section>

    <!-- RIGHT FEED -->
      <section class='stories-container-right'>

        <article class='story'>

          <header>
            <a class='story-title'>story_name</a>
            <a class='story-owner' href=#>@owner_username</a>
          </header>

          <section class='snippets-container'>

            <section class='snippet'>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, dolorum soluta, optio est temporibus vel labore repellendus blanditiis similique perspiciatis placeat quas vero veritatis illo saepe esse quam nesciunt. Natus?</p>
            </section>

          </section>

          <footer>
            <div>tags tags tags</div>
            <div>
              <div>date_created</div>
              <div>last_updated</div>
              <a href=#>contribute</a>
            </div>
          </footer>

        </article>

      </section>

    </main>

  </body>
</html>
