// See: https://sass-lang.com/

$primaryFont: 'Roboto', sans-serif;

$primaryPurple: #9B51E0;
$secondaryPurple: #b48ff0;
$darkGrey: #C4C4C4;
$mediumGrey: #E7E8E8;
$acceptGreen : #7ABF43;

$navHeight: 6vh;
$contextHeight: 3vh;

body {
  background-color: white;
  color: $primaryPurple;
  font-family: $primaryFont;
  font-weight: 300;

  a {
    text-decoration: none;
  }

  button {
    border: none;
    background-color: transparent;
  }

  nav {
    position: fixed;
    z-index: 100;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $darkGrey;
    width: 100vw;
    height: $navHeight;
    padding: 0 4vh;

    div {
      align-self: center;
    }

    .logo {
      text-transform: uppercase;
    }

    button {
      color: $primaryPurple;
    }

    button:disabled {
      color: $mediumGrey;
    }
  }

  main.feed-container {
    margin: $navHeight 0;

    display: grid;
    grid-template-columns: 3vw auto 3vw auto 3vw;
    grid-template-rows: $contextHeight 3vh auto;
  }

  .context-bar {
    background-color: $mediumGrey;
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 6;

    z-index: 90;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: $darkGrey;

    .context-primary {
      align-self: center;
      text-align: center;
      flex-grow: 1;
    }

    .context-secondary {
      align-self: center;
      text-align: center;
      flex-grow: 1;
    }
  }

  .primary-container {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .secondary-container {
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }

  article.story {
    color: $primaryPurple;
    background-color: $mediumGrey;
    margin: 1vw;
    padding: 3vh 2vw 4vh 3vw;

    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        font-size: 16pt;
      }
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      article.snippets-container {
        padding-right: 1vw;

        .snippet.accepted {
          header.meta-data {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          p {
            color: black;
          }
        }
      }

      aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        button {
          margin-top: 1vh;
        }

        .view-pending {
          color: $primaryPurple;
          border: $primaryPurple 1pt solid;
        }

        .contribute {
          color: $primaryPurple;
        }

        .lock-story {
          color: $acceptGreen;
        }
      }

    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .state {
        display: flex;
        flex-direction: row;
        justify-content: inherit;

        div {
          margin-right: 1vw;
        }
      }
    }
  }

  article.snippet.pending {
    color: black;
    background-color: $secondaryPurple;
    margin: 1vw;
    padding: 2vh 1vw;

    display: flex;
    flex-direction: column;

    a, button {
      color: white;
    }
    header {
      flex-grow: 1;
    }

    main {
      flex-grow: 1;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      button {
        margin-top: 1vh;
      }
      span {
        text-align: center;
      }
      button.accept {
        color: $acceptGreen;
      }
    }

    footer > span {
      color: $darkGrey;
    }
  }
}
