.modal-active {
  position: fixed;
  z-index: 97;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #E7E8E8;
  height: 60vh;
  width: 75vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2vh;

  textarea {
    resize: none;
    border-radius: 5px;
    border-color: #C4C4C4;
    height: 50%;
    margin: 2vh 0;
  }

  input {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
    margin: 2vh 0;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;

  background-color: #9B51E0;
  opacity: 50%;
  height: 100vh;
  width: 100vw;
}

.send-contribution {
  background-color: #7ABF43;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  align-self: center;
}

